.container span{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    margin-left: 60px;
    margin-top: 60px;
    flex-direction: column;
    max-height: 290px;
    flex-wrap: wrap;
    max-width: fit-content;
    gap: 5px;
}
